.data-grid-scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  .data-grid-scrollbar::-webkit-scrollbar-track {
    background: #fed7aa;
  }
  .data-grid-scrollbar::-webkit-scrollbar-thumb {
    background: #fb923c;
  }
  .data-grid-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #f97316;
  }
  
  /* Slide Animation for Status Filter */
  
  .slide-fade-enter-active {
    transition: all 0.5s ease-out;
  }
  
  .slide-fade-leave-active {
    transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
  }
  
  .slide-fade-enter-from,
  .slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
  }