<app-page-list-view [pageTitle]="'Users'">
    <div buttoncontent>
      <div class="flex justify-end gap-2 mb-4">
        <button (click)="openModal()"
      class="ml-5 bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center"><svg
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round"
              d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5">
          </path>
      </svg> &nbsp; <span>Add User</span></button>
      
      
      </div>
      
    
    </div>
      <div tabularcontent class="p-2">
        <table class="w-full border-collapse border border-gray-300 text-left">
            <thead>
              <tr class="bg-gray-200">
                <th class="border p-2 cursor-pointer">Name</th>
                <th class="border p-2 cursor-pointer">Email</th>
                <th class="border p-2 cursor-pointer">Role</th>
                <th class="border p-2">Actions</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td class="border p-2">{{ user.fullName }}</td>
                    <td class="border p-2">{{ user.email }}</td>
                    <td class="border p-2 capitalize">{{ user.role }}</td>
                    <td class="border p-2">
                        <button (click)="editUser(user)" class="bg-gray-500 text-white px-2 py-1 rounded">Edit</button>
                        <button (click)="ResetPassword(user)" class="bg-gray-500 text-white px-2 py-1 rounded ml-2">Reset Password</button>
                    </td>

                </tr>
                </tbody>
                </table>
                </div>
                </app-page-list-view>
                <!-- loader.component.html -->
<div *ngIf="isResetting" class="fixed inset-0 flex flex-col items-center justify-center bg-gray-100 opacity-75">
    <div class="bg-white p-4 rounded-lg shadow-lg">
        <h2 class="text-lg font-semibold mb-4 text-center">Resetting Password...</h2>
        <p class="text-gray-600 text-center">Please wait while we reset the password.</p>
    </div>
  <div class="animate-spin rounded-full h-12 w-12 border-t-4 border-blue-500"></div>
  
</div>


                 <!-- Modal -->
<div *ngIf="isModalOpen" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-8 rounded-lg w-96 shadow-lg">
      <h2 class="text-2xl font-semibold mb-4 text-center">{{registerForm.get('id')?.value?'Edit':'Register New'}} User</h2>
  
      <form [formGroup]="registerForm" (ngSubmit)="submit()">
        <!-- Full Name -->
        <div class="mb-4">
          <label class="block text-gray-700">First Name</label>
          <input type="text" formControlName="firstname" class="w-full p-2 border border-gray-300 rounded mt-1"
            [ngClass]="{'border-red-500': registerForm.get('firstname')?.touched && registerForm.get('firstname')?.invalid}" />
          <p *ngIf="registerForm.get('firstname')?.touched && registerForm.get('firstname')?.hasError('required')" 
            class="text-red-500 text-sm mt-1">Full Name is required.</p>
          <p *ngIf="registerForm.get('firstname')?.touched && registerForm.get('firstname')?.hasError('minlength')" 
            class="text-red-500 text-sm mt-1">Full Name must be at least 3 characters.</p>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700">Last Name</label>
            <input type="text" formControlName="lastname" class="w-full p-2 border border-gray-300 rounded mt-1"
              [ngClass]="{'border-red-500': registerForm.get('lastname')?.touched && registerForm.get('lastname')?.invalid}" />
            <p *ngIf="registerForm.get('lastname')?.touched && registerForm.get('lastname')?.hasError('required')" 
              class="text-red-500 text-sm mt-1">Full Name is required.</p>
            <p *ngIf="registerForm.get('lastname')?.touched && registerForm.get('lastname')?.hasError('minlength')" 
              class="text-red-500 text-sm mt-1">Full Name must be at least 3 characters.</p>
          </div>
        <!-- Email -->
        <div class="mb-4">
          <label class="block text-gray-700">Email</label>
          <input type="email" formControlName="email" class="w-full p-2 border border-gray-300 rounded mt-1"
            [ngClass]="{'border-red-500': registerForm.get('email')?.touched && registerForm.get('email')?.invalid}" />
          <p *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('required')" 
            class="text-red-500 text-sm mt-1">Email is required.</p>
          <p *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('email')" 
            class="text-red-500 text-sm mt-1">Invalid email format.</p>
        </div>
  
        <!-- Roles -->
        <div class="mb-4">
          <label class="block text-gray-700">Roles</label>
          <select formControlName="roles" multiple class="w-full p-2 border border-gray-300 rounded mt-1"
            [ngClass]="{'border-red-500': registerForm.get('roles')?.touched && registerForm.get('roles')?.invalid}">
            <option value="admin">Admin</option>
            <option value="User">User</option>
            <option value="Manager">Manager</option>
          </select>
          <p *ngIf="registerForm.get('roles')?.touched && registerForm.get('roles')?.hasError('required')" 
            class="text-red-500 text-sm mt-1">At least one role must be selected.</p>
        </div>
  

        <!-- Submit Button -->
        <button type="submit" class="w-full bg-blue-500 text-white py-2 mt-4 rounded disabled:opacity-70" 
          [disabled]="registerForm.invalid||isLoading">
          {{registerForm.get('id')?.value?'Update' : 'Register'}} User
        </button>
  
        <!-- Success/Error Messages -->
        <p *ngIf="message" class="text-green-500 text-sm mt-4">{{ message }}</p>
        <p *ngIf="errorMessage" class="text-red-500 text-sm mt-4">{{ errorMessage }}</p>
      </form>
  
      <!-- Close Button -->
      <button (click)="closeModal()" class="mt-4 bg-gray-500 text-white px-4 py-2 rounded w-full">
        Close
      </button>
    </div>
  </div>
  